<!-- h-[16dvh] sm:h-[calc(20dvh-50px)] lg:h-[calc(20dvh-25px)]  -->
<!-- h-[16dvh] md:h-[calc(20dvh-25px)] -->
<div
  class="w-dvw h-[84dvh] md:h-[calc(80dvh+25px)] flex max-md:flex-col md:flex-row overflow-y-scroll md:overflow-y-scroll md:place-content-between md:gap-6 max-md:space-x-0 md:place-items-center bg-background-950 md:pl-12 lg:pl-16 max-md:px-6 max-md:py-6 pt-12 md:overflow-x-clip"
>
  <div
    class="flex flex-col max-md:space-y-5 md:space-y-4 max-md:order-2 max-md:mt-6 max-md:mb-6 md:w-[55dvw]"
  >
    <div class="order-1">
      <h1
        class="max-md:text-3xl md:text-3xl lg:text-4xl font-semibold max-md:leading-normal text-text-400 font-headerFont md:leading-relaxed"
      >
        Hi,
      </h1>
      <h1
        class="max-md:text-3xl md:text-3xl lg:text-4xl font-semibold max-md:leading-normal text-text-400 font-headerFont md:leading-relaxed"
      >
        I'm Ahmed Atef,
      </h1>
      <h1
        class="max-md:text-3xl md:text-3xl lg:text-4xl font-semibold max-md:leading-normal text-text-400 font-headerFont md:leading-relaxed"
      >
        Angular & asp.net core Api developer
      </h1>
    </div>

    <p
      class="text-lg font-bodyFont font-medium text-balance max-sm:order-2 text-text-200 order-2"
    >
    I am passionate about creating user-friendly web applications that simplify people's lives. I leverage my expertise in HTML5, CSS3, JavaScript, Angular, Tailwind CSS, and GSAP to craft dynamic and engaging user experiences.
    </p>

    <div id="btn-group" class="flex space-x-6 max-md:pt-5 md:pt-6 order-3">
      <button
      routerLink="/contact"
        class="appearance-none px-4 py-2.5 font-bold capitalize border border-background-800 text-text-100 hover:bg-background-800 font-bodyFont text-lg md:text-base rounded-sm"
      >
        contact me
      </button>
      <button
        routerLink="/my-projects"
        class="appearance-none px-4 py-2.5 capitalize text-text-100 bg-background-800 font-bodyFont font-bold text-lg sm:text-base rounded-sm"
      >
        my projects
      </button>
    </div>
  </div>
  <div
    class="w-fit h-fit relative z-0 max-md:order-1 max-md:place-self-center max-md:mt-10"
  >
    <div
      id="image-wrapper"
      class="h-[200px] w-[212px] sm:h-[300px] sm:w-[320px] md:h-[320px] md:w-[330px] flex-grow bg-portfolio_img bg-cover bg-no-repeat z-30 border-4 border-background-700 dark:border-background-600 after:w-full after:h-full after:bg-accent-700 after:block after:-z-20 after:relative after:-top-3 after:left-2.5  border-r-0 max-md:border-t-0 max-md:shadow-2xl shadow-2xl max-md:shadow-background-800 shadow-background-800"
    ></div>
  </div>
</div>
